h1 > div {
    font-size: 2.5rem;
}

#list-container .list-item {
    cursor: pointer;
    border-radius: 5px;

    &:focus {
        background-color: rgba(173, 216, 230, 0.51);
        outline: none;
    }

    i.bi.bi-trash3 {
        font-size: 1.2rem;

        &:hover {
            color: red;
        }
    }

    &:hover {
        background-color: rgba(173, 216, 230, 0.51);
    }
}